#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 30px;
  align-items: flex-start;
}

#app header {
  margin-left: 30px;
}

@media (max-width: 1000px) {
  #app main {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }

  #app header {
    width: 100%;
  }
}
