header {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.02);
  padding: 30px 20px;
  width: auto;
}

header input {
  border: 0;
  border-bottom: 1px solid #eee;
  color: #666;
  font-size: 14px;
  height: 32px;
  width: 100%;
}

header button[type="submit"] {
  background-color: #a29bfe;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  padding: 15px 20px;
  width: 100%;
  transition: background 0.5s;
}

header button[type="submit"]:hover {
  background-color: #6c5ce7;
}
